.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment: fixed;
}

.pimg1 {
  background-image: url("https://res.cloudinary.com/bfrest/image/upload/v1559784164/wolfahl/Screen_Shot_2019-06-05_at_7.21.29_PM.png");
  min-height: 100vh;
}

.pimg2 {
  background-image: url("https://res.cloudinary.com/bfrest/image/upload/v1560089744/wolfahl/Screen_Shot_2019-06-09_at_8.15.02_AM.png");
  min-height: 900px;
}

.pimg3 {
  background-image: url("https://res.cloudinary.com/bfrest/image/upload/v1560109064/wolfahl/Screen_Shot_2019-06-09_at_1.34.50_PM.png");
  min-height: 900px;
}

.section {
  text-align: center;
  padding: 5px 20px;
  background: none;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

video {
  height: 200px;
  width: 400px;
  margin: 10px;
  padding: 25px 0;
}

img {
  height: 200px;
  width: 400px;
  margin: 10px;
  padding: 25px 0;
}

.section-light {
  color: #666;
  height: 70vh;
  padding: 50px 0;
}

iframe {
  border: none;
  height: 600px;
  width: 1000px;
  padding: 20px;
  margin-left: 140px;
}

.section-dark {
  background-color: #34495e;
  color: #ddd;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  border-radius: 8px;
  font-weight: 600;
  color: #fff;
  padding: 20px;
  box-shadow: 1px 1px 10px 2px rgba(2, 2, 2, 0.6);
}

.ptext .border.trans {
  background-color: #34495e;
}

form {
  background: #fff;
  height: 50vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  margin-top: 90px;
  opacity: 0.9;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  height: 5%;
  margin: 10px;
  width: 40%;
  opacity: 1;
}

textarea {
  width: 40%;
  height: 150px;
}

@media (max-width: 568px) {
  iframe {
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  img {
    margin: 0;
    padding: 20px 0;
  }

  .section {
    grid-template-columns: 1fr;
  }

  video {
    width: 80vw;
  }

  .pimg1,
  .pimg2,
  .pimg3 {
    background-attachment: scroll;
  }
}
